$Strong-cyan: hsl(172, 67%, 45%);
$Very-dark-cyan: hsl(183, 100%, 15%);
$Darker-grayish-cyan: hsl(186, 14%, 43%);
$Dark-grayish-cyan: hsl(184, 14%, 56%);
$Light-grayish-cyan: hsl(185, 41%, 84%);
$Lighter-grayish-cyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

html {
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.sr-only {
    border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important; 
}

body {
    min-height: 100vh;
    font-family: "Space Mono", sans-serif;
    // text-align: center;
    background-color: $Light-grayish-cyan;
}

header {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-title {
    font-size: .7rem;
    color: $Darker-grayish-cyan;
    font-weight: bold;
}


li {
    list-style: none;
}

.container {
    max-width: 375px;
    margin: auto;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    // text-align: left;
    background-color: $White;
    padding: 30px  30px;
}

.input-wrap {
    position: relative;
}

.dollar-icon {
    position: absolute;
    top: 10px;
    left: 9px;
}

input {
    width: 100%;
    height: 2.4rem;
    padding: 0px 10px;
    text-align: right;
    font-family: "Space Mono", sans-serif;
    background-color: $Lighter-grayish-cyan;
    border: none;
    border-radius: 3px;
    color: $Very-dark-cyan;
    font-size: 20px;
    font-weight: bold;
}

input:focus {
    outline: 2px solid $Strong-cyan;
}

.five-percent {
    grid-area: five-percent;
    background-color: $Very-dark-cyan;
    color: $White;
}

.ten-percent {
    grid-area: ten-percent;
    background-color: $Very-dark-cyan;
    color: $White;
}

.fifteen-percent {
    grid-area: fifteen-percent;
    background-color: $Strong-cyan;
    color: $Very-dark-cyan;
}

.twenty-five-percent {
    grid-area: twenty-five-percent;
    background-color: $Very-dark-cyan;
    color: $White;
}

.fifty-percent {
    grid-area: fifty-percent;
    background-color: $Very-dark-cyan;
    color: $White;
}

.custom-btn {
    grid-area: custom-btn;
    color: $Darker-grayish-cyan;
  
}

.people-wrap {
    position: relative;
}

.person-icon {
    position: absolute;
    top: 10px;
    left: 9px;
}

.tip-percentage-select {
    margin: 1.7rem 0 1.7rem 0;
    h2 {
        font-size: .7rem;
        color: $Darker-grayish-cyan;
        font-weight: bold;
        margin-block-end: 1rem;
    }
}

.btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "five-percent ten-percent"
    "fifteen-percent twenty-five-percent"
    "fifty-percent custom-btn";
    gap: 12px;
}

.btn-no {
    font-family: "Space Mono", sans-serif;
    font-size: 19px;
    width: 100%;
    height: 2.2rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.tip-value {
    margin-block-end: 2rem;
}

button:active {
    transform: translateY(2px);
    
}

button:focus-visible {
    outline: 2px solid $Strong-cyan;
}

.custom-btn {
   cursor: auto;
}

.input-people {
    position: relative;
}

.persons .span {
    font-size: .7rem;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 3px;
    font-family: "Space Mono", sans-serif;
    display: none;
}


.invalid {
    outline: 2px solid red;
}

.invalid + .span {
    display: block;
    color: red;
}

.invalid input {
    outline: 2px solid red;
}

.tip-amount {
    background-color: $Very-dark-cyan;
    border-radius: .7rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    h2 {
        color: $Lighter-grayish-cyan;
        font-size: .7rem;
    }
}

.per-person {
    color: $Darker-grayish-cyan;
    font-size: 12px;
    font-weight: bold;
}

.amount-per-person {
    display: flex;
    justify-content: space-between;
    padding-top: .9rem;
}

.total-persons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1.2rem;
}

.value-calculator {
    color: $Strong-cyan;
    font-size: 31px;
    font-weight: bold;
}

.reset-btn {
    height: 2.4rem;
    background-color: $Strong-cyan;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    color: $Very-dark-cyan;
    font-size: 14px;
    margin-top: 1.5rem;
    cursor: pointer;
}

@media (min-width: 490px) {
    .container {
        max-width: 1000px;
        display: flex;
        gap: 8rem;
        border-radius: 1.5rem;
    }

    .tip-amount {
        width: 100%;
    }

    .tip-percentage-select {
        margin: 2.3rem 0 2.3rem 0;
        h2 {
            font-size: 1rem;
        } 
    }

    .btn {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "five-percent ten-percent fifteen-percent"
        "twenty-five-percent fifty-percent custom-btn";
    }
    .btn-no {
        font-size: 25px;
        height: 2.5rem;
    }

    .sec-title {
        font-size: 1rem;
    }

    .tip-amount h2 {
        font-size: 1rem;
    }
    
    .per-person {
        font-size: 15px;
    }

    .total-persons {
        padding-top: 3rem;
    }

    .persons .span {
        top: 1px;
        font-size: 1rem;
    }

    .reset-btn {
        margin-block-start: 8rem;
    }
}

.attribution { font-size: 11px; text-align: center; margin: 12px 0;}
.attribution a { color: hsl(228, 45%, 44%); }
